img{
    height: 60px;
    width: auto;
    border-radius: 200px;
}
#container{
    display: flex;
    justify-content:space-between;
    background-color: greenyellow;
    height: auto;
    align-items: center;
}
ul{
    display: flex;
    list-style-type:none;
}
li{
    padding: 10px;
}
h2{
    display: none;
}
@media(max-width: 800px){
span{
    display: none;
}
}
@media(max-width: 400px){
    h2{
        display: block;
    }
    span{
        display:inline-block;
    }
    #container{
        display: flex;
        flex-direction: column;
        align-items: unset;
    }
    .omg{
        display: flex;
        justify-content:space-around;
    }
    ul{
        flex-direction: column;
        align-items: center;
        display: none;
    }
    .appear{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}